Source: cachereg
Section: misc
Priority: optional
Maintainer: Georg Brandl <g.brandl@fz-juelich.de>
Build-Depends: debhelper (>= 11~),
 git,
 cargo,
 pkg-config,
 libsystemd-dev
Standards-Version: 4.1.4

Package: cachereg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Registrant for the NICOS cache
 A daemon for sample environment boxes that registers presence of the
 box to the instrument NICOS cache, and optionally a global cache.
